.block_song_container_1
{
  width:  205px;
  height: 205px;
   background: #000000;
   background-image:url('images/default_song.png');
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  background-size:205px 205px;
background-repeat:no-repeat;
}



.block_song_container_2
{
  width:  190px;
  height: 190px;
  background: #000000;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  
  background-size:190px 190px;
  background-repeat:no-repeat;
}

.block_song_container_3
{
  width:  200px;
  height: 200px;
  background: #000000;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  
    background-size:200px 200px;
background-repeat:no-repeat;
}

.block_song_container_4
{
  width:  210px;
  height: 210px;
  background: #000000;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  
    background-size:210px 210px;
background-repeat:no-repeat;
}

.block_song_container_5
{
  width:  220px;
  height: 220px;
  background: #000000;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  
    background-size:220px 220px;
background-repeat:no-repeat;
}

.block_song_container_6
{
  width:  230px;
  height: 230px;
  background: #000000;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  
    background-size:230px 230px;
background-repeat:no-repeat;
}

.block_song_container_7
{
  width:  240px;
  height: 240px;
  background: #000000;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  
    background-size:240px 240px;
background-repeat:no-repeat;
}

.block_song_container_8
{
  width:  260px;
  height: 260px;
  background: #000000;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  
    background-size:260px 260px;
background-repeat:no-repeat;
}

.block_song_container_9
{
  width:  280px;
  height: 280px;
  background: #000000;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  
    background-size:280px 280px;
background-repeat:no-repeat;
}

.block_song_container_10
{
  width:  300px;
  height: 300px;
  background: #000000;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin:2px;
  
    background-size:300px 300px;
background-repeat:no-repeat;
}

.block_song_title
{
font-family: Arial,sans-serif;
font-weight: bold;
background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

padding:4px;
border-bottom:1px solid #D6D6C2;

color:#FFFFFF;
/*text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);*/
}

.block_song_artist
{
background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

position:absolute; bottom:0;
padding:4px;
width:97%;
font-family: Arial,sans-serif;
font-weight: bold;
color:#FFFFFF;

border-top:1px solid #D6D6C2;
/*text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);*/
}


.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 100%;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;


}

.front {
	
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);


font-weight: bold;
background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color:#FFFFFF;
	font-family: Arial,sans-serif;
	height:100%;
	
}

.playing_at
{
	color:#FFFFFF;
	font-family: Arial,sans-serif;
	margin:5px;
}

.artist_venue
{
margin:5px;
font-size:20px;
font-weight:bold;
}

.concert_date
{
margin:5px;

}

.concert_city
{
margin:5px;
}

.songkickLink
{
position:relative;
top:-40px;
float:right;
right:10px;
}

.songkickLink:hover
{
background-color:#f24537;
border: 1px solid #d02718;

}







.back p {
	
	
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}


