.container
{
background-color:#FF0000;
margin:0px;
padding:0px;
}

#control_panel
{
background-color:#b0c4de;
width:15%;
float:left;
height:100%;
}

#songview
{
float: left;
width: 85%%;
background-color:#e0ffff;

}