.container
{
margin:0px;
padding:0px;
overflow:hidden;
}
body { }


html
{
/*
background: url('images/background/blur.png') no-repeat ;
background-size: 100% auto;
*/
}

#control_panel
{
background-color:#E8E8E3;

height:200px;
}

#songview
{



}

#songviewCont
{

 margin:40px;
}
